!pip install scikit-learn

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# import sklearn as skl
import warnings
warnings.filterwarnings('ignore')
print("libraries imported")
# what is label encoding?
#  what is one hot encoding???
# _____assingment________work on this data and revise the backlog

libraries imported

In [3]:
df=pd.read_csv("Used_Bikes.csv")
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [4]:
df.info()
# print("number of duplicated record",df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [5]:
print("NO.of duplicate records:",df.duplicated().sum())

NO.of duplicate records: 25324

In [6]:
df.drop_duplicates(inplace=True)
print("Duplicated removed")

Duplicated removed

In [7]:
print("total no.of duplicates records",df.duplicated().sum())

total no.of duplicates records 0

In [8]:
print("total no. of records",df.shape[0])

total no. of records 7324

In [9]:
# missing value check in your date
df.isnull().sum()


# Machine learning are purely numerical no categorical value should be given to them

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [10]:
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [11]:
cat_col=df.select_dtypes(include='O')
cat_col.head()

                              bike_name       city        owner          brand
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  First Owner            TVS
1           Royal Enfield Classic 350cc      Delhi  First Owner  Royal Enfield
2                  Triumph Daytona 675R      Delhi  First Owner        Triumph
3                  TVS Apache RTR 180cc  Bangalore  First Owner            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  First Owner         Yamaha

In [12]:
num_col=df.select_dtypes(exclude='O')
num_col.head()

      price  kms_driven  age  power
0   35000.0     17654.0  3.0  110.0
1  119900.0     11000.0  4.0  350.0
2  600000.0       110.0  8.0  675.0
3   65000.0     16329.0  4.0  180.0
4   80000.0     10000.0  3.0  150.0

In [13]:
cat_col['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [14]:
dt={'First Owner':1,            
'Second Owner':2,             
'Third Owner':3,              
'Fourth Owner Or More':4

}
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [15]:
df['owner']=df['owner'].map(dt) #single time execute

In [16]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj

In [17]:
df['brand'].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Jawa                  7
Indian                3
MV                    3
Rajdoot               1
LML                   1
Yezdi                 1
Ideal                 1
Name: count, dtype: int64

In [18]:
# df['brand']=df['brand'].value_counts()>=10
# df['brand'].value_counts()

In [19]:
bike_brand=list(df['brand'].value_counts().head(16).index)
bike_brand

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

In [20]:
# (df['brand']=="Bajaj") |(df['brand']=="Royal Enfield")
df2=df[df['brand'].isin(bike_brand)]
df2.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha

In [21]:
df2['brand'].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Name: count, dtype: int64

In [22]:
ls=list(df2['brand'].value_counts().keys())

In [36]:
for i in range(len(df2['brand'].value_counts())):
    dt[ls[i]]=i+1

In [37]:
df2['brand']= df2['brand'].map(dt)

In [24]:
df2.drop(['bike_name','city'],axis='columns',inplace=True)

In [38]:
df2.head()

      price  kms_driven  owner  age  power  brand
0   35000.0     17654.0      1  3.0  110.0    NaN
1  119900.0     11000.0      1  4.0  350.0    NaN
2  600000.0       110.0      1  8.0  675.0    NaN
3   65000.0     16329.0      1  4.0  180.0    NaN
4   80000.0     10000.0      1  3.0  150.0    NaN

# splitting data independent and dependent variables

In [39]:
x=df2.drop('price',axis='columns')
y=df2[['price']]

In [40]:
x.head()

   kms_driven  owner  age  power  brand
0     17654.0      1  3.0  110.0    NaN
1     11000.0      1  4.0  350.0    NaN
2       110.0      1  8.0  675.0    NaN
3     16329.0      1  4.0  180.0    NaN
4     10000.0      1  3.0  150.0    NaN

In [41]:
from sklearn.model_selection import train_test_split

In [27]:
df2['brand'].head(17)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
Name: brand, dtype: float64

### splitting data independent and dependent variables

In [28]:
x=df2.drop('price',axis='columns') #dependent variables
y=df2[['price']] # independent variable or target variable

In [29]:
x.head()

   kms_driven  owner  age  power  brand
0     17654.0      1  3.0  110.0    NaN
1     11000.0      1  4.0  350.0    NaN
2       110.0      1  8.0  675.0    NaN
3     16329.0      1  4.0  180.0    NaN
4     10000.0      1  3.0  150.0    NaN

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2) #test  size 20%

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
# instance creatiion
lnr =LinearRegression()

In [34]:
# algorithm train
lnr.fit(x_train,y_train)

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

## Model evaluation

In [ ]:
print("Training score:",lnr.score(x_train,y_train)*100)
print("testing score:",lnr.score(x_test,y_test)*100)

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
x_test.shape
# total bikes

(1462, 5)

In [ ]:
y_test

In [ ]:
prediction =lnr.predict(x_test)

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
prediction.shape

NameError: name 'prediction' is not defined

In [ ]:
y_test

         price
8965   30000.0
8148  101000.0
7276   46000.0
1176  135000.0
5874  135000.0
...        ...
1677   16400.0
3981   22000.0
6524   52000.0
5733  111300.0
2827   43999.0

[1462 rows x 1 columns]

In [ ]:
comparedf =pd.concat([x_test,y_test],axis=1)

      kms_driven  owner   age  power  brand     price
8965     49000.0      1  11.0  100.0    NaN   30000.0
8148     18894.0      1   5.0  350.0    NaN  101000.0
7276     14788.0      1   3.0  150.0    NaN   46000.0
1176     14878.0      1   3.0  350.0    NaN  135000.0
5874     22444.0      1   4.0  410.0    NaN  135000.0
...          ...    ...   ...    ...    ...       ...
1677     35000.0      1  12.0  100.0    NaN   16400.0
3981     47853.0      1   9.0  100.0    NaN   22000.0
6524     32000.0      1   6.0  220.0    NaN   52000.0
5733      5000.0      1   4.0  200.0    NaN  111300.0
2827     50000.0      2   8.0  200.0    NaN   43999.0

[1462 rows x 6 columns]

In [ ]:
comparedf['prediction']=prediction

In [ ]:
comparedf.head(40)

NameError: name 'comparedf' is not defined

In [ ]:
comparedf['residual']=

In [ ]:
comparedf['price']- comparedf['prediction']

NameError: name 'comparedf' is not defined

In [ ]:
comparedf.head()

NameError: name 'comparedf' is not defined

In [ ]:
# prediction
unseen_bike=[[3500,2,2,2,3]]
price_of_unseen_bike=lnr.predict(unseen_bike)
price_of_unseen_bike

C:\Users\tanma\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

AttributeError: 'LinearRegression' object has no attribute 'coef_'

In [ ]:
x_train

      kms_driven  owner   age   power  brand
4551     12552.0      1   3.0   350.0    NaN
3175      7000.0      1   2.0   160.0    NaN
6255     14088.0      1   3.0   150.0    NaN
8481     40000.0      1   5.0   100.0    NaN
2264       152.0      1   5.0  1000.0    NaN
...          ...    ...   ...     ...    ...
5565     15000.0      1   5.0   150.0    NaN
4513     50444.0      1  10.0   150.0    NaN
5968     36578.0      1  10.0   100.0    NaN
7490     13551.0      1   4.0   150.0    NaN
8434     38000.0      1   9.0   350.0    NaN

[5845 rows x 5 columns]

#saving models

In [ ]:
import os,joblib

In [ ]:
ls

 Volume in drive C is OS
 Volume Serial Number is 1628-5EA5

 Directory of c:\Users\tanma\.vscode\upflaire\DATA-SCIENCE-WITH-GENERATIVE-AI-AND-PROMPT-ENGINEERING\Machine learning

27-07-2024  10:44    <DIR>          .
27-07-2024  10:10    <DIR>          ..
29-07-2024  11:51           100,649 project1.ipynb
18-07-2024  10:10         2,493,547 Used_Bikes.csv
               2 File(s)      2,594,196 bytes
               2 Dir(s)  366,347,354,112 bytes free

In [ ]:
os.makedirs('models',exit_ok=True)

NameError: name 'os' is not defined

In [ ]:
student_ls=['mohan','rohan','sohan','manmohan']
student_ls

['mohan', 'rohan', 'sohan', 'manmohan']

In [ ]:
joblib.dump(student_ls,'studentList.lb')

NameError: name 'joblib' is not defined

In [ ]:
joblib.load(studentList.lb)

NameError: name 'joblib' is not defined

In [ ]:
joblib.dump(lnr,'./models/linearRegression.lb')

NameError: name 'joblib' is not defined

In [ ]:
joblib.load(lnr,'./models/linearRegression.lb')

NameError: name 'joblib' is not defined